@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	background-color: #FFFCF8;
	color:#222;
}
h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
}
h2{
	font-size: 1.25em;
	font-family: 'Antic Slab' serif;
}
h3 {
	font-size: 1.5em;
	font-weight: 400;
}
img {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: .5em;
}
ul {
	list-style-type: none;
	text-align: center;
}
li {
	display: inline;
	padding: 10px;
	margin: 10px;
	text-transform: uppercase;
}
a{
	color: #222222;
}
figure {
	width: 20%;
	float: left;
	min-width: 200px;
	min-height: 146px;
	overflow: hidden;
}
.gallery {
	width: 90%;
	margin: .5em auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
