@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Helvetica, sans-serif;
	font-size:16px;
	background-color: #FFFCF8;
	color:#222;
}
h1, h2 {
	font-weight: 300;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
}
h2{
	font-size: 1em;
}
img {
	display: block;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding: .5em;
}
ul {
	list-style-type: none;
	text-align: center;
}
li {
	display: inline;
	padding: 10px;
	margin: 10px;
	text-transform: uppercase;
}
a{
	color: #222222;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;

