* { margin:0; padding:0; box-sizing:border-box; }
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
body{
	font-size: 16px;
	color: #222;
	font-family: "Oswald", sans-serif;
}
#page1{
	background-image: url(http://placehold.it/1200x840);
	height: 820px;
}
header {
	background-color: #CED2D8;
}
h1{
	font-size: 2.5em;
	width: 260px;
	padding: 10px;
	margin: 0 10px;
	float: left;
}
nav{
	float: right;
	margin: 20px 5px;
}
.secondarynav{
	margin: 0 5px;
}
a{
	font-size: 1.5em;
	text-decoration: none;
	padding: 20px;
	color: #222;
}
#page2{
	background-color: rgba(53,135,164,0.8);
	height: 820px;
}
h2{
	font-size: 2em;
	width: 5em;
	height: 1.5em;
	margin: 50px 10px;
	line-height: 1.5em;
	text-align: center;
}
h3{
	font-size: 1.5em;
	background-color: rgba(206,210,216,0.5);
	width: 6em;
	height: 2em;
	margin: 2em auto;
	padding: .5em;
}
.statement{
	text-align: center;
	padding: 2em;
	background-color: #DAD2D8;
	width: 25em;
	height: 7em;
	font-size: 1.5em;
	margin: 250px auto 100px auto;
}
.button{
	background-color: rgba(61,123,160,0.7);
	width: 14em;
	height: 3em;
	margin: 1em auto;
	text-align: center;
	line-height: 3em;
}
#aboutcontent{
	margin: 0 auto;
	width: 60em;
}
p{
	width: 15em;
	margin: 5em;
	font-size: 1em;
	font-family: "Old Standard TT", serif;
}
#bio{
	float:left;
}
#credits{
	float:left;
}
#bio,#credits {
	background-color: rgba(206,210,216,0.5);
	margin: 1%;
	width: 23em;
}
.bioimg {
	height: 190px;
}
#aboutimgs {
	margin: 2em 0 0 0;
	width: 110px;
	float: left;
}
#page3{
	background-color: #CED2D8;
	height: 785px;
}
.doforyou {
	text-align: center;
	padding: 2em;
	background-color: rgba(141,167,190,0.5);
	font-size: 2em;
	margin: 0 auto;
	width: 16em;
	line-height: 0em;
}
.services{
	background-color: rgba(141,167,190,0.5);
	width: 21%;
	float: left;
	margin: 2%;
	padding: 2em;
}
#page4{
	background-color: rgba(53,135,164,0.8);
	height: 800px;
}
.contact{
	width: 12em;
	background-color: rgba(206,210,216,0.5);
	height: 5em;
	margin: 2em auto;
}
.contactimg{
	height: 3em;
	float: left;
}
.contactinfo{
	float: left;
	font-size: 1em;
	width: 6em;
	color: #222;
	margin: 1em;
}
footer{
	width: 5em;
	height: 1em;
	margin: 0 auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}