@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	background-color: #FFFCF8;
	color:#222;
}
header{
	margin: 1em 0 2em 1em;
}
h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
}
h2{
	font-size: 1em;
	font-family: 'Antic Slab' serif;
	padding: 0 0.5em;
}
h3 {
	font-size: 1.5em;
	font-weight: 400;
	margin: 1em 0  1em 4em;
	padding: 1em;
}
nav {
	list-style-type: none;
	text-align: center;
	margin: 2em auto;
	width: 100%;
	height: 10vh;
	float: left;
	position: relative;
	z-index: 2;
}
li {
	display: inline-block;
	padding: 0.5em;
	margin: 0.5em;
	text-transform: uppercase;
	font-size: 1em;
}
a {
	color: #222222;
}
h1 a {
	text-decoration: none;
}
a:hover{
	color: #DEC3BE;
}
.wrapper {
	max-height: 100vh;
	width: 90%;
	margin: 0 auto;
}
.hero{
	max-width: 80%;
	max-height: 80vh;
	margin: 0 auto;
	/*float: none;*/
	display: block;
	padding: .5em;
}
.gallery {
	width: 80%;
	margin: .5em auto;
}
.gallery-img{
	width: 18.4%;
    height: 11em;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
   	background-repeat: no-repeat;
   	background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
}
.currentpage{
	font-weight: 700;
	text-decoration: none;
	color: #DEC3BE;
}
#about {
	width: 70%;
	margin: 4em auto 10em;
}
#about>h3{
	margin: 1em 0 1em 0;
}
#about>a{
	display: block;
	font-size: 1em;
	font-family: 'Antic Slab' serif;
	padding: 1em 0;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
input {
	display: none;
}
#slide1.page1:checked ~ #slides.page1 .inner { margin-left:0; }
#slide2.page1:checked ~ #slides.page1 .inner { margin-left:-100%; }
#slide3.page1:checked ~ #slides.page1 .inner { margin-left:-200%; }
#slide4.page1:checked ~ #slides.page1 .inner { margin-left:-300%; }
#slide5.page1:checked ~ #slides.page1 .inner { margin-left:-400%; }
#slide6.page1:checked ~ #slides.page1 .inner { margin-left:-500%; }
#slide7.page1:checked ~ #slides.page1 .inner { margin-left:-600%; }
#slide8.page1:checked ~ #slides.page1 .inner { margin-left:-700%; }
#slide9.page1:checked ~ #slides.page1 .inner { margin-left:-800%; }
#slide10.page1:checked ~ #slides.page1 .inner { margin-left:-900%; }
#slide11.page1:checked ~ #slides.page1 .inner { margin-left:-1000%; }
#slide12.page1:checked ~ #slides.page1 .inner { margin-left:-1100%; }
#slide13.page1:checked ~ #slides.page1 .inner { margin-left:-1200%; }
#slide14.page1:checked ~ #slides.page1 .inner { margin-left:-1300%; }
#slide15.page1:checked ~ #slides.page1 .inner { margin-left:-1400%; }
#slide16.page1:checked ~ #slides.page1 .inner { margin-left:-1500%; }
#slide17.page1:checked ~ #slides.page1 .inner { margin-left:-1600%; }
#slide18.page1:checked ~ #slides.page1 .inner { margin-left:-1700%; }
#slide19.page1:checked ~ #slides.page1 .inner { margin-left:-1800%; }
#slide20.page1:checked ~ #slides.page1 .inner { margin-left:-1900%; }
#slide21.page1:checked ~ #slides.page1 .inner { margin-left:-2000%; }
#slide22.page1:checked ~ #slides.page1 .inner { margin-left:-2100%; }


#slide1.page2:checked ~ #slides.page2 .inner { margin-left:0; }
#slide2.page2:checked ~ #slides.page2 .inner { margin-left:-100%; }
#slide3.page2:checked ~ #slides.page2 .inner { margin-left:-200%; }
#slide4.page2:checked ~ #slides.page2 .inner { margin-left:-300%; }
#slide5.page2:checked ~ #slides.page2 .inner { margin-left:-400%; }
#slide6.page2:checked ~ #slides.page2 .inner { margin-left:-500%; }
#slide7.page2:checked ~ #slides.page2 .inner { margin-left:-600%; }
#slide8.page2:checked ~ #slides.page2 .inner { margin-left:-700%; }
#slide9.page2:checked ~ #slides.page2 .inner { margin-left:-800%; }
#slide10.page2:checked ~ #slides.page2 .inner { margin-left:-900%; }
#slide11.page2:checked ~ #slides.page2 .inner { margin-left:-1000%; }
#slide12.page2:checked ~ #slides.page2 .inner { margin-left:-1100%; }
#slide13.page2:checked ~ #slides.page2 .inner { margin-left:-1200%; }
#slide14.page2:checked ~ #slides.page2 .inner { margin-left:-1300%; }
#slide15.page2:checked ~ #slides.page2 .inner { margin-left:-1400%; }

#slide1.page3:checked ~ #slides.page3 .inner { margin-left:0; }
#slide2.page3:checked ~ #slides.page3 .inner { margin-left:-100%; }
#slide3.page3:checked ~ #slides.page3 .inner { margin-left:-200%; }
#slide4.page3:checked ~ #slides.page3 .inner { margin-left:-300%; }
#slide5.page3:checked ~ #slides.page3 .inner { margin-left:-400%; }
#slide6.page3:checked ~ #slides.page3 .inner { margin-left:-500%; }
#slide7.page3:checked ~ #slides.page3 .inner { margin-left:-600%; }
#slide8.page3:checked ~ #slides.page3 .inner { margin-left:-700%; }
#slide9.page3:checked ~ #slides.page3 .inner { margin-left:-800%; }
#slide10.page3:checked ~ #slides.page3 .inner { margin-left:-900%; }
#slide11.page3:checked ~ #slides.page3 .inner { margin-left:-1000%; }
#slide12.page3:checked ~ #slides.page3 .inner { margin-left:-1100%; }
#slide13.page3:checked ~ #slides.page3 .inner { margin-left:-1200%; }
#slide14.page3:checked ~ #slides.page3 .inner { margin-left:-1300%; }
#slide15.page3:checked ~ #slides.page3 .inner { margin-left:-1400%; }
#slide16.page3:checked ~ #slides.page3 .inner { margin-left:-1500%; }

#slide1.page4:checked ~ #slides.page4 .inner { margin-left:0; }
#slide2.page4:checked ~ #slides.page4 .inner { margin-left:-100%; }
#slide3.page4:checked ~ #slides.page4 .inner { margin-left:-200%; }
#slide4.page4:checked ~ #slides.page4 .inner { margin-left:-300%; }
#slide5.page4:checked ~ #slides.page4 .inner { margin-left:-400%; }
#slide6.page4:checked ~ #slides.page4 .inner { margin-left:-500%; }
#slide7.page4:checked ~ #slides.page4 .inner { margin-left:-600%; }
#slide8.page4:checked ~ #slides.page4 .inner { margin-left:-700%; }
#slide9.page4:checked ~ #slides.page4 .inner { margin-left:-800%; }
#slide10.page4:checked ~ #slides.page4 .inner { margin-left:-900%; }
#slide11.page4:checked ~ #slides.page4 .inner { margin-left:-1000%; }
#slide12.page4:checked ~ #slides.page4 .inner { margin-left:-1100%; }
#slide13.page4:checked ~ #slides.page4 .inner { margin-left:-1200%; }
#slide14.page4:checked ~ #slides.page4 .inner { margin-left:-1300%; }
#slide15.page4:checked ~ #slides.page4 .inner { margin-left:-1400%; }
#slide16.page4:checked ~ #slides.page4 .inner { margin-left:-1500%; }
#slide17.page4:checked ~ #slides.page4 .inner { margin-left:-1600%; }

#slide1.page5:checked ~ #slides.page5 .inner { margin-left:0; }
#slide2.page5:checked ~ #slides.page5 .inner { margin-left:-100%; }
#slide3.page5:checked ~ #slides.page5 .inner { margin-left:-200%; }
#slide4.page5:checked ~ #slides.page5 .inner { margin-left:-300%; }
#slide5.page5:checked ~ #slides.page5 .inner { margin-left:-400%; }
#slide6.page5:checked ~ #slides.page5 .inner { margin-left:-500%; }
#slide7.page5:checked ~ #slides.page5 .inner { margin-left:-600%; }

#overflow {
	width: 100%;
	max-height: 75vh;
	overflow: hidden;
}

#slides .inner {
	line-height: 0;
}
#slides.page1 .inner {
	width: 2200%;
}
#slides.page2 .inner {
	width: 1500%;
}
#slides.page3 .inner {
	width: 1600%;
}
#slides.page4 .inner {
	width: 1700%;
}
#slides.page5 .inner {
	width: 700%;
}

#slides article {
	float: left;
}
#slides.page1 article {
	width: 4.54%;
}
#slides.page2 article {
	width: 6.66%;
}
#slides.page3 article {
	width: 6.25%;
}
#slides.page4 article {
	width: 5.88%;
}
#slides.page5 article {
	width: 14.28%;
}
/* Slider Styling 
/* Control Setup */

#controls {
	margin: -10em auto;
	width: 100%;
	height: 50px;
	float: left;
}

#controls label { 
	display: none;
	width: 250px;
	height: 50px;
	opacity: 0.3;
}

#active {
	margin: 20% 0 0;
	text-align: center;
	float: left;
	width: 100%;
}
#active.page2 {
	margin: 33% 0 0;
}
#active.page4 {
	margin: 17% 0 0;
}
#active.page5 {
	margin: 15% 0 0;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

/* Slider Styling */

#slides {
	margin: 1em 0 0;
	padding: 1%;
	max-height: 500px;
}


/* Animation */

#slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

#controls, #slides, #active, #active label {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
/*Next Button*/
#slide1.page1:checked ~ #controls.page1 label:nth-child(2), 
#slide2.page1:checked ~ #controls.page1 label:nth-child(3), 
#slide3.page1:checked ~ #controls.page1 label:nth-child(4), 
#slide4.page1:checked ~ #controls.page1 label:nth-child(5), 
#slide5.page1:checked ~ #controls.page1 label:nth-child(6), 
#slide6.page1:checked ~ #controls.page1 label:nth-child(7), 
#slide7.page1:checked ~ #controls.page1 label:nth-child(8), 
#slide8.page1:checked ~ #controls.page1 label:nth-child(9), 
#slide9.page1:checked ~ #controls.page1 label:nth-child(10), 
#slide10.page1:checked ~ #controls.page1 label:nth-child(11), 
#slide11.page1:checked ~ #controls.page1 label:nth-child(12), 
#slide12.page1:checked ~ #controls.page1 label:nth-child(13), 
#slide13.page1:checked ~ #controls.page1 label:nth-child(14), 
#slide14.page1:checked ~ #controls.page1 label:nth-child(15), 
#slide15.page1:checked ~ #controls.page1 label:nth-child(16), 
#slide16.page1:checked ~ #controls.page1 label:nth-child(17), 
#slide17.page1:checked ~ #controls.page1 label:nth-child(18), 
#slide18.page1:checked ~ #controls.page1 label:nth-child(19), 
#slide19.page1:checked ~ #controls.page1 label:nth-child(20), 
#slide20.page1:checked ~ #controls.page1 label:nth-child(21), 
#slide21.page1:checked ~ #controls.page1 label:nth-child(22), 
#slide22.page1:checked ~ #controls.page1 label:nth-child(1) {
	background: url(../images/next.png) no-repeat;
	float: right;
	margin: 0 -9em;
	display: block;
}
#slide1.page2:checked ~ #controls.page2 label:nth-child(2), 
#slide2.page2:checked ~ #controls.page2 label:nth-child(3), 
#slide3.page2:checked ~ #controls.page2 label:nth-child(4), 
#slide4.page2:checked ~ #controls.page2 label:nth-child(5), 
#slide5.page2:checked ~ #controls.page2 label:nth-child(6), 
#slide6.page2:checked ~ #controls.page2 label:nth-child(7), 
#slide7.page2:checked ~ #controls.page2 label:nth-child(8), 
#slide8.page2:checked ~ #controls.page2 label:nth-child(9), 
#slide9.page2:checked ~ #controls.page2 label:nth-child(10), 
#slide10.page2:checked ~ #controls.page2 label:nth-child(11), 
#slide11.page2:checked ~ #controls.page2 label:nth-child(12), 
#slide12.page2:checked ~ #controls.page2 label:nth-child(13), 
#slide13.page2:checked ~ #controls.page2 label:nth-child(14), 
#slide14.page2:checked ~ #controls.page2 label:nth-child(15), 
#slide15.page2:checked ~ #controls.page2 label:nth-child(1)  {
	background: url(../images/next.png) no-repeat;
	float: right;
	margin: 0 -9em;
	display: block;
}
#slide1.page3:checked ~ #controls.page3 label:nth-child(2), 
#slide2.page3:checked ~ #controls.page3 label:nth-child(3), 
#slide3.page3:checked ~ #controls.page3 label:nth-child(4), 
#slide4.page3:checked ~ #controls.page3 label:nth-child(5), 
#slide5.page3:checked ~ #controls.page3 label:nth-child(6), 
#slide6.page3:checked ~ #controls.page3 label:nth-child(7), 
#slide7.page3:checked ~ #controls.page3 label:nth-child(8), 
#slide8.page3:checked ~ #controls.page3 label:nth-child(9), 
#slide9.page3:checked ~ #controls.page3 label:nth-child(10), 
#slide10.page3:checked ~ #controls.page3 label:nth-child(11), 
#slide11.page3:checked ~ #controls.page3 label:nth-child(12), 
#slide12.page3:checked ~ #controls.page3 label:nth-child(13), 
#slide13.page3:checked ~ #controls.page3 label:nth-child(14), 
#slide14.page3:checked ~ #controls.page3 label:nth-child(15), 
#slide15.page3:checked ~ #controls.page3 label:nth-child(16), 
#slide16.page3:checked ~ #controls.page3 label:nth-child(1) {
	background: url(../images/next.png) no-repeat;
	float: right;
	margin: 0 -9em;
	display: block;
}
#slide1.page4:checked ~ #controls.page4 label:nth-child(2), 
#slide2.page4:checked ~ #controls.page4 label:nth-child(3), 
#slide3.page4:checked ~ #controls.page4 label:nth-child(4), 
#slide4.page4:checked ~ #controls.page4 label:nth-child(5), 
#slide5.page4:checked ~ #controls.page4 label:nth-child(6), 
#slide6.page4:checked ~ #controls.page4 label:nth-child(7), 
#slide7.page4:checked ~ #controls.page4 label:nth-child(8), 
#slide8.page4:checked ~ #controls.page4 label:nth-child(9), 
#slide9.page4:checked ~ #controls.page4 label:nth-child(10), 
#slide10.page4:checked ~ #controls.page4 label:nth-child(11), 
#slide11.page4:checked ~ #controls.page4 label:nth-child(12), 
#slide12.page4:checked ~ #controls.page4 label:nth-child(13), 
#slide13.page4:checked ~ #controls.page4 label:nth-child(14), 
#slide14.page4:checked ~ #controls.page4 label:nth-child(15), 
#slide15.page4:checked ~ #controls.page4 label:nth-child(16), 
#slide16.page4:checked ~ #controls.page4 label:nth-child(17), 
#slide17.page4:checked ~ #controls.page4 label:nth-child(1) {
	background: url(../images/next.png) no-repeat;
	float: right;
	margin: 0 -9em;
	display: block;
}
#slide1.page5:checked ~ #controls.page5 label:nth-child(2), 
#slide2.page5:checked ~ #controls.page5 label:nth-child(3), 
#slide3.page5:checked ~ #controls.page5 label:nth-child(4), 
#slide4.page5:checked ~ #controls.page5 label:nth-child(5), 
#slide5.page5:checked ~ #controls.page5 label:nth-child(6),
#slide6.page5:checked ~ #controls.page5 label:nth-child(7),
#slide7.page5:checked ~ #controls.page5 label:nth-child(1) {
	background: url(../images/next.png) no-repeat;
	float: right;
	margin: 0 -9em;
	display: block;
}


/*Previous Button*/
#slide1.page1:checked ~ #controls.page1 label:nth-child(22), 
#slide2.page1:checked ~ #controls.page1 label:nth-child(1), 
#slide3.page1:checked ~ #controls.page1 label:nth-child(2), 
#slide4.page1:checked ~ #controls.page1 label:nth-child(3), 
#slide5.page1:checked ~ #controls.page1 label:nth-child(4), 
#slide6.page1:checked ~ #controls.page1 label:nth-child(5), 
#slide7.page1:checked ~ #controls.page1 label:nth-child(6), 
#slide8.page1:checked ~ #controls.page1 label:nth-child(7), 
#slide9.page1:checked ~ #controls.page1 label:nth-child(8), 
#slide10.page1:checked ~ #controls.page1 label:nth-child(9), 
#slide11.page1:checked ~ #controls.page1 label:nth-child(10), 
#slide12.page1:checked ~ #controls.page1 label:nth-child(11), 
#slide13.page1:checked ~ #controls.page1 label:nth-child(12), 
#slide14.page1:checked ~ #controls.page1 label:nth-child(13), 
#slide15.page1:checked ~ #controls.page1 label:nth-child(14), 
#slide16.page1:checked ~ #controls.page1 label:nth-child(15), 
#slide17.page1:checked ~ #controls.page1 label:nth-child(16), 
#slide18.page1:checked ~ #controls.page1 label:nth-child(17), 
#slide19.page1:checked ~ #controls.page1 label:nth-child(18), 
#slide20.page1:checked ~ #controls.page1 label:nth-child(19), 
#slide21.page1:checked ~ #controls.page1 label:nth-child(20), 
#slide22.page1:checked ~ #controls.page1 label:nth-child(21) {
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin: 0 3em;
	display: block;
}

#slide1.page2:checked ~ #controls.page2 label:nth-child(15), 
#slide2.page2:checked ~ #controls.page2 label:nth-child(1), 
#slide3.page2:checked ~ #controls.page2 label:nth-child(2), 
#slide4.page2:checked ~ #controls.page2 label:nth-child(3), 
#slide5.page2:checked ~ #controls.page2 label:nth-child(4), 
#slide6.page2:checked ~ #controls.page2 label:nth-child(5), 
#slide7.page2:checked ~ #controls.page2 label:nth-child(6), 
#slide8.page2:checked ~ #controls.page2 label:nth-child(7), 
#slide9.page2:checked ~ #controls.page2 label:nth-child(8), 
#slide10.page2:checked ~ #controls.page2 label:nth-child(9), 
#slide11.page2:checked ~ #controls.page2 label:nth-child(10), 
#slide12.page2:checked ~ #controls.page2 label:nth-child(11), 
#slide13.page2:checked ~ #controls.page2 label:nth-child(12), 
#slide14.page2:checked ~ #controls.page2 label:nth-child(13), 
#slide15.page2:checked ~ #controls.page2 label:nth-child(14) {
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin: 0 3em;
	display: block;
}
#slide1.page3:checked ~ #controls.page3 label:nth-child(16), 
#slide2.page3:checked ~ #controls.page3 label:nth-child(1), 
#slide3.page3:checked ~ #controls.page3 label:nth-child(2), 
#slide4.page3:checked ~ #controls.page3 label:nth-child(3), 
#slide5.page3:checked ~ #controls.page3 label:nth-child(4), 
#slide6.page3:checked ~ #controls.page3 label:nth-child(5), 
#slide7.page3:checked ~ #controls.page3 label:nth-child(6), 
#slide8.page3:checked ~ #controls.page3 label:nth-child(7), 
#slide9.page3:checked ~ #controls.page3 label:nth-child(8), 
#slide10.page3:checked ~ #controls.page3 label:nth-child(9), 
#slide11.page3:checked ~ #controls.page3 label:nth-child(10), 
#slide12.page3:checked ~ #controls.page3 label:nth-child(11), 
#slide13.page3:checked ~ #controls.page3 label:nth-child(12), 
#slide14.page3:checked ~ #controls.page3 label:nth-child(13), 
#slide15.page3:checked ~ #controls.page3 label:nth-child(14), 
#slide16.page3:checked ~ #controls.page3 label:nth-child(15) {
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin: 0 3em;
	display: block;
}
#slide1.page4:checked ~ #controls.page4 label:nth-child(17), 
#slide2.page4:checked ~ #controls.page4 label:nth-child(1), 
#slide3.page4:checked ~ #controls.page4 label:nth-child(2), 
#slide4.page4:checked ~ #controls.page4 label:nth-child(3), 
#slide5.page4:checked ~ #controls.page4 label:nth-child(4), 
#slide6.page4:checked ~ #controls.page4 label:nth-child(5), 
#slide7.page4:checked ~ #controls.page4 label:nth-child(6), 
#slide8.page4:checked ~ #controls.page4 label:nth-child(7), 
#slide9.page4:checked ~ #controls.page4 label:nth-child(8), 
#slide10.page4:checked ~ #controls.page4 label:nth-child(9), 
#slide11.page4:checked ~ #controls.page4 label:nth-child(10), 
#slide12.page4:checked ~ #controls.page4 label:nth-child(11), 
#slide13.page4:checked ~ #controls.page4 label:nth-child(12), 
#slide14.page4:checked ~ #controls.page4 label:nth-child(13), 
#slide15.page4:checked ~ #controls.page4 label:nth-child(14), 
#slide16.page4:checked ~ #controls.page4 label:nth-child(15), 
#slide17.page4:checked ~ #controls.page4 label:nth-child(16) {
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin: 0 3em;
	display: block;
}
#slide1.page5:checked ~ #controls.page5 label:nth-child(7),
#slide2.page5:checked ~ #controls.page5 label:nth-child(1),
#slide3.page5:checked ~ #controls.page5 label:nth-child(2),
#slide4.page5:checked ~ #controls.page5 label:nth-child(3),
#slide5.page5:checked ~ #controls.page5 label:nth-child(4),
#slide6.page5:checked ~ #controls.page5 label:nth-child(5),
#slide7.page5:checked ~ #controls.page5 label:nth-child(6) {
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin: 0 3em;
	display: block;
}

/*Active dots*/
#slide1:checked ~ #active label:nth-child(1), 
#slide2:checked ~ #active label:nth-child(2), 
#slide3:checked ~ #active label:nth-child(3), 
#slide4:checked ~ #active label:nth-child(4), 
#slide5:checked ~ #active label:nth-child(5), 
#slide6:checked ~ #active label:nth-child(6), 
#slide7:checked ~ #active label:nth-child(7), 
#slide8:checked ~ #active label:nth-child(8), 
#slide9:checked ~ #active label:nth-child(9), 
#slide10:checked ~ #active label:nth-child(10), 
#slide11:checked ~ #active label:nth-child(11), 
#slide12:checked ~ #active label:nth-child(12), 
#slide13:checked ~ #active label:nth-child(13), 
#slide14:checked ~ #active label:nth-child(14), 
#slide15:checked ~ #active label:nth-child(15), 
#slide16:checked ~ #active label:nth-child(16), 
#slide17:checked ~ #active label:nth-child(17), 
#slide18:checked ~ #active label:nth-child(18), 
#slide19:checked ~ #active label:nth-child(19), 
#slide20:checked ~ #active label:nth-child(20), 
#slide21:checked ~ #active label:nth-child(21), 
#slide22:checked ~ #active label:nth-child(22) {
		background: #222;
		border-color: #222 !important;
}

@media only screen and (min-width: 1000px) and (max-width: 1330px) {
	li { 
		font-size: 0.75em;
	}
	.gallery-img {
		width: 23%;
	}
}
@media only screen and (min-width: 670px) and (max-width: 999px) {
	li {
		display: block;
		font-size: 0.75em;
		padding: 1em;
	}
	nav {
		margin: -1em auto;
	}
	h3 {
		display: none;
	}
	.gallery{
		margin: 20em auto;
	}
	.gallery-img {
		width: 30.33%;
	}
	#slider #active {
		/*margin: 22% 0 0;*/
		display: none;
	}

	#controls{
		margin: 2em auto;
	}
/*Next  */
	#slide1.page1:checked ~ #controls.page1 label:nth-child(2), 
	#slide2.page1:checked ~ #controls.page1 label:nth-child(3), 
	#slide3.page1:checked ~ #controls.page1 label:nth-child(4), 
	#slide4.page1:checked ~ #controls.page1 label:nth-child(5), 
	#slide5.page1:checked ~ #controls.page1 label:nth-child(6), 
	#slide6.page1:checked ~ #controls.page1 label:nth-child(7), 
	#slide7.page1:checked ~ #controls.page1 label:nth-child(8), 
	#slide8.page1:checked ~ #controls.page1 label:nth-child(9), 
	#slide9.page1:checked ~ #controls.page1 label:nth-child(10), 
	#slide10.page1:checked ~ #controls.page1 label:nth-child(11), 
	#slide11.page1:checked ~ #controls.page1 label:nth-child(12), 
	#slide12.page1:checked ~ #controls.page1 label:nth-child(13), 
	#slide13.page1:checked ~ #controls.page1 label:nth-child(14), 
	#slide14.page1:checked ~ #controls.page1 label:nth-child(15), 
	#slide15.page1:checked ~ #controls.page1 label:nth-child(16), 
	#slide16.page1:checked ~ #controls.page1 label:nth-child(17), 
	#slide17.page1:checked ~ #controls.page1 label:nth-child(18), 
	#slide18.page1:checked ~ #controls.page1 label:nth-child(19), 
	#slide19.page1:checked ~ #controls.page1 label:nth-child(20), 
	#slide20.page1:checked ~ #controls.page1 label:nth-child(21), 
	#slide21.page1:checked ~ #controls.page1 label:nth-child(22), 
	#slide22.page1:checked ~ #controls.page1 label:nth-child(1) {
		margin: 0 -6em;
	}
	#slide1.page2:checked ~ #controls.page2 label:nth-child(2), 
	#slide2.page2:checked ~ #controls.page2 label:nth-child(3), 
	#slide3.page2:checked ~ #controls.page2 label:nth-child(4), 
	#slide4.page2:checked ~ #controls.page2 label:nth-child(5), 
	#slide5.page2:checked ~ #controls.page2 label:nth-child(6), 
	#slide6.page2:checked ~ #controls.page2 label:nth-child(7), 
	#slide7.page2:checked ~ #controls.page2 label:nth-child(8), 
	#slide8.page2:checked ~ #controls.page2 label:nth-child(9), 
	#slide9.page2:checked ~ #controls.page2 label:nth-child(10), 
	#slide10.page2:checked ~ #controls.page2 label:nth-child(11), 
	#slide11.page2:checked ~ #controls.page2 label:nth-child(12), 
	#slide12.page2:checked ~ #controls.page2 label:nth-child(13), 
	#slide13.page2:checked ~ #controls.page2 label:nth-child(14), 
	#slide14.page2:checked ~ #controls.page2 label:nth-child(15), 
	#slide15.page2:checked ~ #controls.page2 label:nth-child(1) {
		margin: 0 -6em;
	}
	#slide1.page3:checked ~ #controls.page3 label:nth-child(2), 
	#slide2.page3:checked ~ #controls.page3 label:nth-child(3), 
	#slide3.page3:checked ~ #controls.page3 label:nth-child(4), 
	#slide4.page3:checked ~ #controls.page3 label:nth-child(5), 
	#slide5.page3:checked ~ #controls.page3 label:nth-child(6), 
	#slide6.page3:checked ~ #controls.page3 label:nth-child(7), 
	#slide7.page3:checked ~ #controls.page3 label:nth-child(8), 
	#slide8.page3:checked ~ #controls.page3 label:nth-child(9), 
	#slide9.page3:checked ~ #controls.page3 label:nth-child(10), 
	#slide10.page3:checked ~ #controls.page3 label:nth-child(11), 
	#slide11.page3:checked ~ #controls.page3 label:nth-child(12), 
	#slide12.page3:checked ~ #controls.page3 label:nth-child(13), 
	#slide13.page3:checked ~ #controls.page3 label:nth-child(14), 
	#slide14.page3:checked ~ #controls.page3 label:nth-child(15), 
	#slide15.page3:checked ~ #controls.page3 label:nth-child(16), 
	#slide16.page3:checked ~ #controls.page3 label:nth-child(1) {
		margin: 0 -6em;
	}
	#slide1.page4:checked ~ #controls.page4 label:nth-child(2), 
	#slide2.page4:checked ~ #controls.page4 label:nth-child(3), 
	#slide3.page4:checked ~ #controls.page4 label:nth-child(4), 
	#slide4.page4:checked ~ #controls.page4 label:nth-child(5), 
	#slide5.page4:checked ~ #controls.page4 label:nth-child(6), 
	#slide6.page4:checked ~ #controls.page4 label:nth-child(7), 
	#slide7.page4:checked ~ #controls.page4 label:nth-child(8), 
	#slide8.page4:checked ~ #controls.page4 label:nth-child(9), 
	#slide9.page4:checked ~ #controls.page4 label:nth-child(10), 
	#slide10.page4:checked ~ #controls.page4 label:nth-child(11), 
	#slide11.page4:checked ~ #controls.page4 label:nth-child(12), 
	#slide12.page4:checked ~ #controls.page4 label:nth-child(13), 
	#slide13.page4:checked ~ #controls.page4 label:nth-child(14), 
	#slide14.page4:checked ~ #controls.page4 label:nth-child(15), 
	#slide15.page4:checked ~ #controls.page4 label:nth-child(16), 
	#slide16.page4:checked ~ #controls.page4 label:nth-child(17), 
	#slide17.page4:checked ~ #controls.page4 label:nth-child(1) {
		margin: 0 -6em;
	}
	#slide1.page5:checked ~ #controls.page5 label:nth-child(2), 
	#slide2.page5:checked ~ #controls.page5 label:nth-child(3), 
	#slide3.page5:checked ~ #controls.page5 label:nth-child(4), 
	#slide4.page5:checked ~ #controls.page5 label:nth-child(5), 
	#slide5.page5:checked ~ #controls.page5 label:nth-child(6),
	#slide6.page5:checked ~ #controls.page5 label:nth-child(7),
	#slide7.page5:checked ~ #controls.page5 label:nth-child(1){
		margin: 0 -6em;
	}
/*	Previous*/
	#slide1.page1:checked ~ #controls.page1 label:nth-child(22), 
	#slide2.page1:checked ~ #controls.page1 label:nth-child(1), 
	#slide3.page1:checked ~ #controls.page1 label:nth-child(2), 
	#slide4.page1:checked ~ #controls.page1 label:nth-child(3), 
	#slide5.page1:checked ~ #controls.page1 label:nth-child(4), 
	#slide6.page1:checked ~ #controls.page1 label:nth-child(5), 
	#slide7.page1:checked ~ #controls.page1 label:nth-child(6), 
	#slide8.page1:checked ~ #controls.page1 label:nth-child(7), 
	#slide9.page1:checked ~ #controls.page1 label:nth-child(8), 
	#slide10.page1:checked ~ #controls.page1 label:nth-child(9), 
	#slide11.page1:checked ~ #controls.page1 label:nth-child(10), 
	#slide12.page1:checked ~ #controls.page1 label:nth-child(11), 
	#slide13.page1:checked ~ #controls.page1 label:nth-child(12), 
	#slide14.page1:checked ~ #controls.page1 label:nth-child(13), 
	#slide15.page1:checked ~ #controls.page1 label:nth-child(14), 
	#slide16.page1:checked ~ #controls.page1 label:nth-child(15), 
	#slide17.page1:checked ~ #controls.page1 label:nth-child(16), 
	#slide18.page1:checked ~ #controls.page1 label:nth-child(17), 
	#slide19.page1:checked ~ #controls.page1 label:nth-child(18), 
	#slide20.page1:checked ~ #controls.page1 label:nth-child(19), 
	#slide21.page1:checked ~ #controls.page1 label:nth-child(20), 
	#slide22.page1:checked ~ #controls.page1 label:nth-child(21) {
		margin: 0 6em;
	}
	#slide1.page2:checked ~ #controls.page2 label:nth-child(15), 
	#slide2.page2:checked ~ #controls.page2 label:nth-child(1), 
	#slide3.page2:checked ~ #controls.page2 label:nth-child(2), 
	#slide4.page2:checked ~ #controls.page2 label:nth-child(3), 
	#slide5.page2:checked ~ #controls.page2 label:nth-child(4), 
	#slide6.page2:checked ~ #controls.page2 label:nth-child(5), 
	#slide7.page2:checked ~ #controls.page2 label:nth-child(6), 
	#slide8.page2:checked ~ #controls.page2 label:nth-child(7), 
	#slide9.page2:checked ~ #controls.page2 label:nth-child(8), 
	#slide10.page2:checked ~ #controls.page2 label:nth-child(9), 
	#slide11.page2:checked ~ #controls.page2 label:nth-child(10), 
	#slide12.page2:checked ~ #controls.page2 label:nth-child(11), 
	#slide13.page2:checked ~ #controls.page2 label:nth-child(12), 
	#slide14.page2:checked ~ #controls.page2 label:nth-child(13), 
	#slide15.page2:checked ~ #controls.page2 label:nth-child(14) {
		margin: 0 6em;
	}
	#slide1.page3:checked ~ #controls.page3 label:nth-child(16), 
	#slide2.page3:checked ~ #controls.page3 label:nth-child(1), 
	#slide3.page3:checked ~ #controls.page3 label:nth-child(2), 
	#slide4.page3:checked ~ #controls.page3 label:nth-child(3), 
	#slide5.page3:checked ~ #controls.page3 label:nth-child(4), 
	#slide6.page3:checked ~ #controls.page3 label:nth-child(5), 
	#slide7.page3:checked ~ #controls.page3 label:nth-child(6), 
	#slide8.page3:checked ~ #controls.page3 label:nth-child(7), 
	#slide9.page3:checked ~ #controls.page3 label:nth-child(8), 
	#slide10.page3:checked ~ #controls.page3 label:nth-child(9), 
	#slide11.page3:checked ~ #controls.page3 label:nth-child(10), 
	#slide12.page3:checked ~ #controls.page3 label:nth-child(11), 
	#slide13.page3:checked ~ #controls.page3 label:nth-child(12), 
	#slide14.page3:checked ~ #controls.page3 label:nth-child(13), 
	#slide15.page3:checked ~ #controls.page3 label:nth-child(14), 
	#slide16.page3:checked ~ #controls.page3 label:nth-child(15) {
		margin: 0 6em;
	}
	#slide1.page4:checked ~ #controls.page4 label:nth-child(17), 
	#slide2.page4:checked ~ #controls.page4 label:nth-child(1), 
	#slide3.page4:checked ~ #controls.page4 label:nth-child(2), 
	#slide4.page4:checked ~ #controls.page4 label:nth-child(3), 
	#slide5.page4:checked ~ #controls.page4 label:nth-child(4), 
	#slide6.page4:checked ~ #controls.page4 label:nth-child(5), 
	#slide7.page4:checked ~ #controls.page4 label:nth-child(6), 
	#slide8.page4:checked ~ #controls.page4 label:nth-child(7), 
	#slide9.page4:checked ~ #controls.page4 label:nth-child(8), 
	#slide10.page4:checked ~ #controls.page4 label:nth-child(9), 
	#slide11.page4:checked ~ #controls.page4 label:nth-child(10), 
	#slide12.page4:checked ~ #controls.page4 label:nth-child(11), 
	#slide13.page4:checked ~ #controls.page4 label:nth-child(12), 
	#slide14.page4:checked ~ #controls.page4 label:nth-child(13), 
	#slide15.page4:checked ~ #controls.page4 label:nth-child(14), 
	#slide16.page4:checked ~ #controls.page4 label:nth-child(15), 
	#slide17.page4:checked ~ #controls.page4 label:nth-child(16) {
		margin: 0 6em;
	}
	#slide1.page5:checked ~ #controls.page5 label:nth-child(7),
	#slide2.page5:checked ~ #controls.page5 label:nth-child(1),
	#slide3.page5:checked ~ #controls.page5 label:nth-child(2),
	#slide4.page5:checked ~ #controls.page5 label:nth-child(3),
	#slide5.page5:checked ~ #controls.page5 label:nth-child(4),
	#slide6.page5:checked ~ #controls.page5 label:nth-child(5),
	#slide7.page5:checked ~ #controls.page5 label:nth-child(6) {
		margin: 0 6em;
	}

}
@media only screen and (min-width: 521px) and (max-width: 669px) {
	li {
		display: block;
		font-size: 0.75em;
		padding: 1em;
	}
	nav {
		margin: 1em auto;
	}
	h3 {
		display: none;
	}
	.gallery{
		margin: 20em auto;
	}
	.gallery-img {
		width: 46%;
	}
	#slider #controls {
		margin: 3em auto;
		width: 70%;
		height: 50px;
	}

	#slider #controls label {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}

	#slider #slides {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider #active {
		/*margin: 22% 0 0;*/
		display: none;
	}
/*  Next*/
	#slide1.page1:checked ~ #controls.page1 label:nth-child(2), 
	#slide2.page1:checked ~ #controls.page1 label:nth-child(3), 
	#slide3.page1:checked ~ #controls.page1 label:nth-child(4), 
	#slide4.page1:checked ~ #controls.page1 label:nth-child(5), 
	#slide5.page1:checked ~ #controls.page1 label:nth-child(6), 
	#slide6.page1:checked ~ #controls.page1 label:nth-child(7), 
	#slide7.page1:checked ~ #controls.page1 label:nth-child(8), 
	#slide8.page1:checked ~ #controls.page1 label:nth-child(9), 
	#slide9.page1:checked ~ #controls.page1 label:nth-child(10), 
	#slide10.page1:checked ~ #controls.page1 label:nth-child(11), 
	#slide11.page1:checked ~ #controls.page1 label:nth-child(12), 
	#slide12.page1:checked ~ #controls.page1 label:nth-child(13), 
	#slide13.page1:checked ~ #controls.page1 label:nth-child(14), 
	#slide14.page1:checked ~ #controls.page1 label:nth-child(15), 
	#slide15.page1:checked ~ #controls.page1 label:nth-child(16), 
	#slide16.page1:checked ~ #controls.page1 label:nth-child(17), 
	#slide17.page1:checked ~ #controls.page1 label:nth-child(18), 
	#slide18.page1:checked ~ #controls.page1 label:nth-child(19), 
	#slide19.page1:checked ~ #controls.page1 label:nth-child(20), 
	#slide20.page1:checked ~ #controls.page1 label:nth-child(21), 
	#slide21.page1:checked ~ #controls.page1 label:nth-child(22), 
	#slide22.page1:checked ~ #controls.page1 label:nth-child(1) {
		margin: 0 -12em;
	}
	#slide1.page2:checked ~ #controls.page2 label:nth-child(2), 
	#slide2.page2:checked ~ #controls.page2 label:nth-child(3), 
	#slide3.page2:checked ~ #controls.page2 label:nth-child(4), 
	#slide4.page2:checked ~ #controls.page2 label:nth-child(5), 
	#slide5.page2:checked ~ #controls.page2 label:nth-child(6), 
	#slide6.page2:checked ~ #controls.page2 label:nth-child(7), 
	#slide7.page2:checked ~ #controls.page2 label:nth-child(8), 
	#slide8.page2:checked ~ #controls.page2 label:nth-child(9), 
	#slide9.page2:checked ~ #controls.page2 label:nth-child(10), 
	#slide10.page2:checked ~ #controls.page2 label:nth-child(11), 
	#slide11.page2:checked ~ #controls.page2 label:nth-child(12), 
	#slide12.page2:checked ~ #controls.page2 label:nth-child(13), 
	#slide13.page2:checked ~ #controls.page2 label:nth-child(14), 
	#slide14.page2:checked ~ #controls.page2 label:nth-child(15), 
	#slide15.page2:checked ~ #controls.page2 label:nth-child(1) {
		margin: 0 -12em;
	}
	#slide1.page3:checked ~ #controls.page3 label:nth-child(2), 
	#slide2.page3:checked ~ #controls.page3 label:nth-child(3), 
	#slide3.page3:checked ~ #controls.page3 label:nth-child(4), 
	#slide4.page3:checked ~ #controls.page3 label:nth-child(5), 
	#slide5.page3:checked ~ #controls.page3 label:nth-child(6), 
	#slide6.page3:checked ~ #controls.page3 label:nth-child(7), 
	#slide7.page3:checked ~ #controls.page3 label:nth-child(8), 
	#slide8.page3:checked ~ #controls.page3 label:nth-child(9), 
	#slide9.page3:checked ~ #controls.page3 label:nth-child(10), 
	#slide10.page3:checked ~ #controls.page3 label:nth-child(11), 
	#slide11.page3:checked ~ #controls.page3 label:nth-child(12), 
	#slide12.page3:checked ~ #controls.page3 label:nth-child(13), 
	#slide13.page3:checked ~ #controls.page3 label:nth-child(14), 
	#slide14.page3:checked ~ #controls.page3 label:nth-child(15), 
	#slide15.page3:checked ~ #controls.page3 label:nth-child(16), 
	#slide16.page3:checked ~ #controls.page3 label:nth-child(1) {
		margin: 0 -12em;
	}
	#slide1.page4:checked ~ #controls.page4 label:nth-child(2), 
	#slide2.page4:checked ~ #controls.page4 label:nth-child(3), 
	#slide3.page4:checked ~ #controls.page4 label:nth-child(4), 
	#slide4.page4:checked ~ #controls.page4 label:nth-child(5), 
	#slide5.page4:checked ~ #controls.page4 label:nth-child(6), 
	#slide6.page4:checked ~ #controls.page4 label:nth-child(7), 
	#slide7.page4:checked ~ #controls.page4 label:nth-child(8), 
	#slide8.page4:checked ~ #controls.page4 label:nth-child(9), 
	#slide9.page4:checked ~ #controls.page4 label:nth-child(10), 
	#slide10.page4:checked ~ #controls.page4 label:nth-child(11), 
	#slide11.page4:checked ~ #controls.page4 label:nth-child(12), 
	#slide12.page4:checked ~ #controls.page4 label:nth-child(13), 
	#slide13.page4:checked ~ #controls.page4 label:nth-child(14), 
	#slide14.page4:checked ~ #controls.page4 label:nth-child(15), 
	#slide15.page4:checked ~ #controls.page4 label:nth-child(16), 
	#slide16.page4:checked ~ #controls.page4 label:nth-child(17), 
	#slide17.page4:checked ~ #controls.page4 label:nth-child(1) {
		margin: 0 -12em;
	}
	#slide1.page5:checked ~ #controls.page5 label:nth-child(2), 
	#slide2.page5:checked ~ #controls.page5 label:nth-child(3), 
	#slide3.page5:checked ~ #controls.page5 label:nth-child(4), 
	#slide4.page5:checked ~ #controls.page5 label:nth-child(5), 
	#slide5.page5:checked ~ #controls.page5 label:nth-child(6),
	#slide6.page5:checked ~ #controls.page5 label:nth-child(7),
	#slide7.page5:checked ~ #controls.page5 label:nth-child(1) {
		margin: 0 -12em;
	}
/*Previous  */
	#slide1.page1:checked ~ #controls.page1 label:nth-child(22), 
	#slide2.page1:checked ~ #controls.page1 label:nth-child(1), 
	#slide3.page1:checked ~ #controls.page1 label:nth-child(2), 
	#slide4.page1:checked ~ #controls.page1 label:nth-child(3), 
	#slide5.page1:checked ~ #controls.page1 label:nth-child(4), 
	#slide6.page1:checked ~ #controls.page1 label:nth-child(5), 
	#slide7.page1:checked ~ #controls.page1 label:nth-child(6), 
	#slide8.page1:checked ~ #controls.page1 label:nth-child(7), 
	#slide9.page1:checked ~ #controls.page1 label:nth-child(8), 
	#slide10.page1:checked ~ #controls.page1 label:nth-child(9), 
	#slide11.page1:checked ~ #controls.page1 label:nth-child(10), 
	#slide12.page1:checked ~ #controls.page1 label:nth-child(11), 
	#slide13.page1:checked ~ #controls.page1 label:nth-child(12), 
	#slide14.page1:checked ~ #controls.page1 label:nth-child(13), 
	#slide15.page1:checked ~ #controls.page1 label:nth-child(14), 
	#slide16.page1:checked ~ #controls.page1 label:nth-child(15), 
	#slide17.page1:checked ~ #controls.page1 label:nth-child(16), 
	#slide18.page1:checked ~ #controls.page1 label:nth-child(17), 
	#slide19.page1:checked ~ #controls.page1 label:nth-child(18), 
	#slide20.page1:checked ~ #controls.page1 label:nth-child(19), 
	#slide21.page1:checked ~ #controls.page1 label:nth-child(20), 
	#slide22.page1:checked ~ #controls.page1 label:nth-child(21) {
		margin: 0 9em;
	}
	
	#slide1.page2:checked ~ #controls.page2 label:nth-child(15), 
	#slide2.page2:checked ~ #controls.page2 label:nth-child(1), 
	#slide3.page2:checked ~ #controls.page2 label:nth-child(2), 
	#slide4.page2:checked ~ #controls.page2 label:nth-child(3), 
	#slide5.page2:checked ~ #controls.page2 label:nth-child(4), 
	#slide6.page2:checked ~ #controls.page2 label:nth-child(5), 
	#slide7.page2:checked ~ #controls.page2 label:nth-child(6), 
	#slide8.page2:checked ~ #controls.page2 label:nth-child(7), 
	#slide9.page2:checked ~ #controls.page2 label:nth-child(8), 
	#slide10.page2:checked ~ #controls.page2 label:nth-child(9), 
	#slide11.page2:checked ~ #controls.page2 label:nth-child(10), 
	#slide12.page2:checked ~ #controls.page2 label:nth-child(11), 
	#slide13.page2:checked ~ #controls.page2 label:nth-child(12), 
	#slide14.page2:checked ~ #controls.page2 label:nth-child(13), 
	#slide15.page2:checked ~ #controls.page2 label:nth-child(14) {
		margin: 0 9em;
	}
	#slide1.page3:checked ~ #controls.page3 label:nth-child(16), 
	#slide2.page3:checked ~ #controls.page3 label:nth-child(1), 
	#slide3.page3:checked ~ #controls.page3 label:nth-child(2), 
	#slide4.page3:checked ~ #controls.page3 label:nth-child(3), 
	#slide5.page3:checked ~ #controls.page3 label:nth-child(4), 
	#slide6.page3:checked ~ #controls.page3 label:nth-child(5), 
	#slide7.page3:checked ~ #controls.page3 label:nth-child(6), 
	#slide8.page3:checked ~ #controls.page3 label:nth-child(7), 
	#slide9.page3:checked ~ #controls.page3 label:nth-child(8), 
	#slide10.page3:checked ~ #controls.page3 label:nth-child(9), 
	#slide11.page3:checked ~ #controls.page3 label:nth-child(10), 
	#slide12.page3:checked ~ #controls.page3 label:nth-child(11), 
	#slide13.page3:checked ~ #controls.page3 label:nth-child(12), 
	#slide14.page3:checked ~ #controls.page3 label:nth-child(13), 
	#slide15.page3:checked ~ #controls.page3 label:nth-child(14), 
	#slide16.page3:checked ~ #controls.page3 label:nth-child(15) {
		margin: 0 9em;
	}
	#slide1.page4:checked ~ #controls.page4 label:nth-child(17), 
	#slide2.page4:checked ~ #controls.page4 label:nth-child(1), 
	#slide3.page4:checked ~ #controls.page4 label:nth-child(2), 
	#slide4.page4:checked ~ #controls.page4 label:nth-child(3), 
	#slide5.page4:checked ~ #controls.page4 label:nth-child(4), 
	#slide6.page4:checked ~ #controls.page4 label:nth-child(5), 
	#slide7.page4:checked ~ #controls.page4 label:nth-child(6), 
	#slide8.page4:checked ~ #controls.page4 label:nth-child(7), 
	#slide9.page4:checked ~ #controls.page4 label:nth-child(8), 
	#slide10.page4:checked ~ #controls.page4 label:nth-child(9), 
	#slide11.page4:checked ~ #controls.page4 label:nth-child(10), 
	#slide12.page4:checked ~ #controls.page4 label:nth-child(11), 
	#slide13.page4:checked ~ #controls.page4 label:nth-child(12), 
	#slide14.page4:checked ~ #controls.page4 label:nth-child(13), 
	#slide15.page4:checked ~ #controls.page4 label:nth-child(14), 
	#slide16.page4:checked ~ #controls.page4 label:nth-child(15), 
	#slide17.page4:checked ~ #controls.page4 label:nth-child(16) {
		margin: 0 9em;
	}
	#slide1.page5:checked ~ #controls.page5 label:nth-child(7),
	#slide2.page5:checked ~ #controls.page5 label:nth-child(1),
	#slide3.page5:checked ~ #controls.page5 label:nth-child(2),
	#slide4.page5:checked ~ #controls.page5 label:nth-child(3),
	#slide5.page5:checked ~ #controls.page5 label:nth-child(4),
	#slide6.page5:checked ~ #controls.page5 label:nth-child(5),
	#slide7.page5:checked ~ #controls.page5 label:nth-child(6){
		margin: 0 9em;
	}
}
@media only screen and (max-width: 520px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 0.75em;
		padding: 0.25em;
	}
	h3{
		display: none;
	}
	nav {
		margin: 0em auto;
	}
	li {
		display: block;
		font-size: 0.75em;
		padding: 1em;
	}
	label{
		display: block;
	}
	.gallery {
		display: none;
	}
	.gallery-img {
		width: 46%;
		height: 10em;
	}
	#slider #controls {
		margin: 4em auto;
		width: 50%;
		height: 50px;
	}

	#slider #active {
		display: none;
	}

	#slider #slides {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider #slides .info {
		opacity: 0 !important;
	}

	#slider #controls label {
		-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-o-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	} 
/*  Next*/
	#slide1.page1:checked ~ #controls.page1 label:nth-child(2), 
	#slide2.page1:checked ~ #controls.page1 label:nth-child(3), 
	#slide3.page1:checked ~ #controls.page1 label:nth-child(4), 
	#slide4.page1:checked ~ #controls.page1 label:nth-child(5), 
	#slide5.page1:checked ~ #controls.page1 label:nth-child(6), 
	#slide6.page1:checked ~ #controls.page1 label:nth-child(7), 
	#slide7.page1:checked ~ #controls.page1 label:nth-child(8), 
	#slide8.page1:checked ~ #controls.page1 label:nth-child(9), 
	#slide9.page1:checked ~ #controls.page1 label:nth-child(10), 
	#slide10.page1:checked ~ #controls.page1 label:nth-child(11), 
	#slide11.page1:checked ~ #controls.page1 label:nth-child(12), 
	#slide12.page1:checked ~ #controls.page1 label:nth-child(13), 
	#slide13.page1:checked ~ #controls.page1 label:nth-child(14), 
	#slide14.page1:checked ~ #controls.page1 label:nth-child(15), 
	#slide15.page1:checked ~ #controls.page1 label:nth-child(16), 
	#slide16.page1:checked ~ #controls.page1 label:nth-child(17), 
	#slide17.page1:checked ~ #controls.page1 label:nth-child(18), 
	#slide18.page1:checked ~ #controls.page1 label:nth-child(19), 
	#slide19.page1:checked ~ #controls.page1 label:nth-child(20), 
	#slide20.page1:checked ~ #controls.page1 label:nth-child(21), 
	#slide21.page1:checked ~ #controls.page1 label:nth-child(22), 
	#slide22.page1:checked ~ #controls.page1 label:nth-child(1) {
		margin: 0 -18em;
	}
	#slide1.page2:checked ~ #controls.page2 label:nth-child(2), 
	#slide2.page2:checked ~ #controls.page2 label:nth-child(3), 
	#slide3.page2:checked ~ #controls.page2 label:nth-child(4), 
	#slide4.page2:checked ~ #controls.page2 label:nth-child(5), 
	#slide5.page2:checked ~ #controls.page2 label:nth-child(6), 
	#slide6.page2:checked ~ #controls.page2 label:nth-child(7), 
	#slide7.page2:checked ~ #controls.page2 label:nth-child(8), 
	#slide8.page2:checked ~ #controls.page2 label:nth-child(9), 
	#slide9.page2:checked ~ #controls.page2 label:nth-child(10), 
	#slide10.page2:checked ~ #controls.page2 label:nth-child(11), 
	#slide11.page2:checked ~ #controls.page2 label:nth-child(12), 
	#slide12.page2:checked ~ #controls.page2 label:nth-child(13), 
	#slide13.page2:checked ~ #controls.page2 label:nth-child(14), 
	#slide14.page2:checked ~ #controls.page2 label:nth-child(15), 
	#slide15.page2:checked ~ #controls.page2 label:nth-child(1) {
	margin: 0 -18em;
	}
	#slide1.page3:checked ~ #controls.page3 label:nth-child(2), 
	#slide2.page3:checked ~ #controls.page3 label:nth-child(3), 
	#slide3.page3:checked ~ #controls.page3 label:nth-child(4), 
	#slide4.page3:checked ~ #controls.page3 label:nth-child(5), 
	#slide5.page3:checked ~ #controls.page3 label:nth-child(6), 
	#slide6.page3:checked ~ #controls.page3 label:nth-child(7), 
	#slide7.page3:checked ~ #controls.page3 label:nth-child(8), 
	#slide8.page3:checked ~ #controls.page3 label:nth-child(9), 
	#slide9.page3:checked ~ #controls.page3 label:nth-child(10), 
	#slide10.page3:checked ~ #controls.page3 label:nth-child(11), 
	#slide11.page3:checked ~ #controls.page3 label:nth-child(12), 
	#slide12.page3:checked ~ #controls.page3 label:nth-child(13), 
	#slide13.page3:checked ~ #controls.page3 label:nth-child(14), 
	#slide14.page3:checked ~ #controls.page3 label:nth-child(15), 
	#slide15.page3:checked ~ #controls.page3 label:nth-child(16), 
	#slide16.page3:checked ~ #controls.page3 label:nth-child(1) {
		margin: 0 -18em;
	}
	#slide1.page4:checked ~ #controls.page4 label:nth-child(2), 
	#slide2.page4:checked ~ #controls.page4 label:nth-child(3), 
	#slide3.page4:checked ~ #controls.page4 label:nth-child(4), 
	#slide4.page4:checked ~ #controls.page4 label:nth-child(5), 
	#slide5.page4:checked ~ #controls.page4 label:nth-child(6), 
	#slide6.page4:checked ~ #controls.page4 label:nth-child(7), 
	#slide7.page4:checked ~ #controls.page4 label:nth-child(8), 
	#slide8.page4:checked ~ #controls.page4 label:nth-child(9), 
	#slide9.page4:checked ~ #controls.page4 label:nth-child(10), 
	#slide10.page4:checked ~ #controls.page4 label:nth-child(11), 
	#slide11.page4:checked ~ #controls.page4 label:nth-child(12), 
	#slide12.page4:checked ~ #controls.page4 label:nth-child(13), 
	#slide13.page4:checked ~ #controls.page4 label:nth-child(14), 
	#slide14.page4:checked ~ #controls.page4 label:nth-child(15), 
	#slide15.page4:checked ~ #controls.page4 label:nth-child(16), 
	#slide16.page4:checked ~ #controls.page4 label:nth-child(17), 
	#slide17.page4:checked ~ #controls.page4 label:nth-child(1) {
		margin: 0 -18em;
	}
	#slide1.page5:checked ~ #controls.page5 label:nth-child(2), 
	#slide2.page5:checked ~ #controls.page5 label:nth-child(3), 
	#slide3.page5:checked ~ #controls.page5 label:nth-child(4), 
	#slide4.page5:checked ~ #controls.page5 label:nth-child(5), 
	#slide5.page5:checked ~ #controls.page5 label:nth-child(6),
	#slide6.page5:checked ~ #controls.page5 label:nth-child(7),
	#slide7.page5:checked ~ #controls.page5 label:nth-child(1) {
		margin: 0 -18em;
	}

/*  Previous*/
	#slide1.page1:checked ~ #controls.page1 label:nth-child(22), 
	#slide2.page1:checked ~ #controls.page1 label:nth-child(1), 
	#slide3.page1:checked ~ #controls.page1 label:nth-child(2), 
	#slide4.page1:checked ~ #controls.page1 label:nth-child(3), 
	#slide5.page1:checked ~ #controls.page1 label:nth-child(4), 
	#slide6.page1:checked ~ #controls.page1 label:nth-child(5), 
	#slide7.page1:checked ~ #controls.page1 label:nth-child(6), 
	#slide8.page1:checked ~ #controls.page1 label:nth-child(7), 
	#slide9.page1:checked ~ #controls.page1 label:nth-child(8), 
	#slide10.page1:checked ~ #controls.page1 label:nth-child(9), 
	#slide11.page1:checked ~ #controls.page1 label:nth-child(10), 
	#slide12.page1:checked ~ #controls.page1 label:nth-child(11), 
	#slide13.page1:checked ~ #controls.page1 label:nth-child(12), 
	#slide14.page1:checked ~ #controls.page1 label:nth-child(13), 
	#slide15.page1:checked ~ #controls.page1 label:nth-child(14), 
	#slide16.page1:checked ~ #controls.page1 label:nth-child(15), 
	#slide17.page1:checked ~ #controls.page1 label:nth-child(16), 
	#slide18.page1:checked ~ #controls.page1 label:nth-child(17), 
	#slide19.page1:checked ~ #controls.page1 label:nth-child(18), 
	#slide20.page1:checked ~ #controls.page1 label:nth-child(19), 
	#slide21.page1:checked ~ #controls.page1 label:nth-child(20), 
	#slide22.page1:checked ~ #controls.page1 label:nth-child(21) {
		margin: 0 2em;
	}
	#slide1.page2:checked ~ #controls.page2 label:nth-child(15), 
	#slide2.page2:checked ~ #controls.page2 label:nth-child(1), 
	#slide3.page2:checked ~ #controls.page2 label:nth-child(2), 
	#slide4.page2:checked ~ #controls.page2 label:nth-child(3), 
	#slide5.page2:checked ~ #controls.page2 label:nth-child(4), 
	#slide6.page2:checked ~ #controls.page2 label:nth-child(5), 
	#slide7.page2:checked ~ #controls.page2 label:nth-child(6), 
	#slide8.page2:checked ~ #controls.page2 label:nth-child(7), 
	#slide9.page2:checked ~ #controls.page2 label:nth-child(8), 
	#slide10.page2:checked ~ #controls.page2 label:nth-child(9), 
	#slide11.page2:checked ~ #controls.page2 label:nth-child(10), 
	#slide12.page2:checked ~ #controls.page2 label:nth-child(11), 
	#slide13.page2:checked ~ #controls.page2 label:nth-child(12), 
	#slide14.page2:checked ~ #controls.page2 label:nth-child(13), 
	#slide15.page2:checked ~ #controls.page2 label:nth-child(14) {
		margin: 0 2em;
	}
	#slide1.page3:checked ~ #controls.page3 label:nth-child(16), 
	#slide2.page3:checked ~ #controls.page3 label:nth-child(1), 
	#slide3.page3:checked ~ #controls.page3 label:nth-child(2), 
	#slide4.page3:checked ~ #controls.page3 label:nth-child(3), 
	#slide5.page3:checked ~ #controls.page3 label:nth-child(4), 
	#slide6.page3:checked ~ #controls.page3 label:nth-child(5), 
	#slide7.page3:checked ~ #controls.page3 label:nth-child(6), 
	#slide8.page3:checked ~ #controls.page3 label:nth-child(7), 
	#slide9.page3:checked ~ #controls.page3 label:nth-child(8), 
	#slide10.page3:checked ~ #controls.page3 label:nth-child(9), 
	#slide11.page3:checked ~ #controls.page3 label:nth-child(10), 
	#slide12.page3:checked ~ #controls.page3 label:nth-child(11), 
	#slide13.page3:checked ~ #controls.page3 label:nth-child(12), 
	#slide14.page3:checked ~ #controls.page3 label:nth-child(13), 
	#slide15.page3:checked ~ #controls.page3 label:nth-child(14), 
	#slide16.page3:checked ~ #controls.page3 label:nth-child(15) {
		margin: 0 2em;
	}
	#slide1.page4:checked ~ #controls.page4 label:nth-child(17), 
	#slide2.page4:checked ~ #controls.page4 label:nth-child(1), 
	#slide3.page4:checked ~ #controls.page4 label:nth-child(2), 
	#slide4.page4:checked ~ #controls.page4 label:nth-child(3), 
	#slide5.page4:checked ~ #controls.page4 label:nth-child(4), 
	#slide6.page4:checked ~ #controls.page4 label:nth-child(5), 
	#slide7.page4:checked ~ #controls.page4 label:nth-child(6), 
	#slide8.page4:checked ~ #controls.page4 label:nth-child(7), 
	#slide9.page4:checked ~ #controls.page4 label:nth-child(8), 
	#slide10.page4:checked ~ #controls.page4 label:nth-child(9), 
	#slide11.page4:checked ~ #controls.page4 label:nth-child(10), 
	#slide12.page4:checked ~ #controls.page4 label:nth-child(11), 
	#slide13.page4:checked ~ #controls.page4 label:nth-child(12), 
	#slide14.page4:checked ~ #controls.page4 label:nth-child(13), 
	#slide15.page4:checked ~ #controls.page4 label:nth-child(14), 
	#slide16.page4:checked ~ #controls.page4 label:nth-child(15), 
	#slide17.page4:checked ~ #controls.page4 label:nth-child(16) {
		margin: 0 2em;
	}
	#slide1.page5:checked ~ #controls.page5 label:nth-child(7),
	#slide2.page5:checked ~ #controls.page5 label:nth-child(1),
	#slide3.page5:checked ~ #controls.page5 label:nth-child(2),
	#slide4.page5:checked ~ #controls.page5 label:nth-child(3),
	#slide5.page5:checked ~ #controls.page5 label:nth-child(4),
	#slide6.page5:checked ~ #controls.page5 label:nth-child(5),
	#slide7.page5:checked ~ #controls.page5 label:nth-child(6) {
		margin: 0 2em;
	}
}