@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	background-color: #FFFCF8;
	color:#222;
}
header{
	margin: 1em 0 2em 1em;
}
h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
}
h2{
	font-size: 1em;
	font-family: 'Antic Slab' serif;
	padding: 0 0.5em;
}
h3 {
	font-size: 1.5em;
	font-weight: 400;
	margin: 5em 0  1em 4em;
}
nav {
	list-style-type: none;
	text-align: center;
	margin: 2em auto;
	width: 85%;
	height: 1.5em;
}
li {
	display: inline-block;
	padding: 0.5em;
	margin: 0.5em;
	text-transform: uppercase;
	font-size: 1em;
}
a {
	color: #222222;
}
h1 a {
	text-decoration: none;
}
a:hover{
	color: #DEC3BE;
}
label {
	cursor: pointer;
}
article{
	display: block;
}
.wrapper {
	max-height: 100vh;
	width: 90%;
	margin: 0 auto;
}
.hero{
	max-width: 80%;
	max-height: 80%;
	margin: 0 auto;
	float: none;
	display: block;
	padding: .5em;
}
.gallery {
	width: 80%;
	margin: .5em auto;
	/*background-color: blue;*/
}
.gallery-img{
	width: 18.4%;
    height: 11em;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
   	background-repeat: no-repeat;
   	background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
}
.currentpage{
	font-weight: 700;
	text-decoration: none;
	color: #DEC3BE;
}
#about {
	width: 70%;
	margin: 4em auto 10em;
}
#about>h3{
	margin: 1em 0 1em 0;
}
#about>a{
	display: block;
	font-size: 1em;
	font-family: 'Antic Slab' serif;
	padding: 1em 0;

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
@media only screen and (min-width: 100px) and (max-width: 1330px) {
	li { 
		font-size: 0.75em;
	}
	.gallery-img {
		width: 23%;
	}
}
@media only screen and (min-width: 670px) and (max-width: 999px) {
	li {
		display: block;
		font-size: 0.75em;
		padding: 1em;
	}
	h3 {
		display: none;
	}
	.gallery{
		margin: 20em auto;
	}
	.gallery-img {
		width: 30.33%;
	}
}
@media only screen and (min-width: 521px) and (max-width: 669px) {
	li {
		display: block;
		font-size: 0.75em;
		padding: 1em;
	}
	nav {
		margin: 4em auto;
	}
	h3 {
		display: none;
	}
	.gallery{
		margin: 20em auto;
	}
	.gallery-img {
		width: 46%;
	}
}
@media only screen and (max-width: 520px) {
	h1 {
		font-size: 1em;
	}
	h2 {
		font-size: 0.75em;
		padding: 0.25em;
	}
	h3{
		display: none;
	}
	nav {
		margin: 4em auto;
	}
	li {
		display: block;
		font-size: 0.75em;
		padding: 1em;
	}
	label{
		display: block;
	}
	.gallery {
		display: none;
	}
	.gallery-img {
		width: 46%;
		height: 10em;
	}
	/*#menu {
		display: none;
	}
	#checkbox:checked + #menu {
		display: block;
	}*/
}